<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/join.css') }}">
</head>

<body>
    <header>
        <nav>
            <img src="/static/image/LOGO.png" alt="Football">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/sport">Sport</a></li>
                <li><a href="/join">Team</a></li>
            </ul>
            <a href="/account" class="account">Account</a>
        </nav>
    </header>

    <div class="container">
        <aside class="sidebar">
            <h3>Team</h3>
            <ul>
                <li><a href="#">Team 1</a></li>
                <li><a href="#">Team 2</a></li>
                <li><a href="#">Team 3</a></li>
            </ul>
        </aside>

        <div class="main-content">
            <div class="team-info">
                <h2>Team Name</h2>
                <div class="player-info">
                    <div>Position</div>
                    <div>Player name</div>
                </div>
            </div>
            <div class ="player-position">
                <label for="player1"></label>
                <input type="text" id="player1" name="player1" value="Goalkeeper" required><br><br>
    
                <label for="player2"></label>
                <input type="text" id="player2" name="player2" value="Right Back" required><br><br>
    
                <label for="player3"></label>
                <input type="text" id="player3" name="player3" value="Center Back" required><br><br>
    
                <label for="player4"></label>
                <input type="text" id="player4" name="player4" value="Center Back" required><br><br>
    
                <label for="player5"></label>
                <input type="text" id="player5" name="player5" value="Left Back" required><br><br>
    
                <label for="player6"></label>
                <input type="text" id="player6" name="player6" value="Defensive Midfielder" required><br><br>
    
                <label for="player7"></label>
                <input type="text" id="player7" name="player7" value="Right Midfielder" required><br><br>
    
                <label for="player8"></label>
                <input type="text" id="player8" name="player8" value="Central Midfielder" required><br><br>
    
                <label for="player9"></label>
                <input type="text" id="player9" name="player9" value="Left Midfielder" required><br><br>
    
                <label for="player10"></label>
                <input type="text" id="player10" name="player10" value="Attacking Midfielder" required><br><br>
    
                <label for="player11"></label>
                <input type="text" id="player11" name="player11" value="Striker" required><br><br>
            </div>
            
            <!-- <div class="player-name">
                <label for="player1"></label>
                <input type="text" id="player1" name="player1" value="Goalkeeper" required><br><br>

                <label for="player2"></label>
                <input type="text" id="player2" name="player2" value="Right Back" required><br><br>

                <label for="player3"></label>
                <input type="text" id="player3" name="player3" value="Center Back" required><br><br>

                <label for="player4"></label>
                <input type="text" id="player4" name="player4" value="Center Back" required><br><br>

                <label for="player5"></label>
                <input type="text" id="player5" name="player5" value="Left Back" required><br><br>

                <label for="player6"></label>
                <input type="text" id="player6" name="player6" value="Defensive Midfielder" required><br><br>

                <label for="player7"></label>
                <input type="text" id="player7" name="player7" value="Right Midfielder" required><br><br>

                <label for="player8"></label>
                <input type="text" id="player8" name="player8" value="Central Midfielder" required><br><br>

                <label for="player9"></label>
                <input type="text" id="player9" name="player9" value="Left Midfielder" required><br><br>

                <label for="player10"></label>
                <input type="text" id="player10" name="player10" value="Attacking Midfielder" required><br><br>

                <label for="player11"></label>
                <input type="text" id="player11" name="player11" value="Striker" required><br><br>
            </div> -->

            <div class="Substitute">
                <h3>Substitutes</h3>
                <label for="sub1"></label>
                <input type="text" id="sub1" name="sub1" value="" required><br><br>
                <label for="sub2"></label>
                <input type="text" id="sub2" name="sub2" value="" required><br><br>
                <label for="sub3"></label>
                <input type="text" id="sub3" name="sub3" value="" required><br><br>
                <label for="sub4"></label>
                <input type="text" id="sub4" name="sub4" value="" required><br><br>
                <label for="sub5"></label>
                <input type="text" id="sub5" name="sub5" value="" required><br><br>
            </div>
            <div class="player-status">
                <p>Player in team 0/11</p>
            </div>
            <div class="description">
                <p>Description</p>
            </div>
        </div>

    </div>
</body>

</html>