<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sport.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

</head>

<body>
    <header>
        <nav>
            <img src="/static/image/LOGO.png" alt="Football">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/sport">Sport</a></li>
                <li><a href="/viewteam">Team Overview</a></li>
            </ul>
            <a href="/logout" class="logout-btn">Logout</a>
            <a href="/account" class="account">{{ username }}</a>
        </nav>
    </header>

    <div class="card">
        <h2>Sport</h2>
        <div class="image-container">
            <img src="/static/image/football.png" alt="Football">
        </div>
        <div class="text-box">
            <p>FOOTBALL</p>
            
            <input type="checkbox" id="toggle-rules" style="display: none;">
            <label for="toggle-rules" class="toggle-label"><h3>กติกาและวิธีการเล่น</h3></label>
            <p class="content" id="rules">กติกาฟุตบอล (Laws of the Game)
                กฎข้อที่ 1 สนามฟุตบอล
                สนาม 
                •	รูปสี่เหลี่ยมผืนผ้า ความกว้าง 50-100 หลา ความยาว 100-130 หลา
                เครื่องหมายในสนาม แต่ละเส้นจะมีความกว่างไม่เกิน 5 นิ้ว
                •	เส้นเขตสนาม อยู่รอบเขตสนาม ส่วนที่สั้นเรียก เส้นประตู ส่วนที่ยาวเรียก เส้นข้าง
                •	เส้นแบ่งเขตแดน แบ่งสนามตามขวางเป็น 2 ส่วนเท่ากัน
                •	จุดกึ่งกลางสนาม อยู่กึ่งกลางเส้นแบ่งเขตแดน มีวงกลมรัศมี 10 หลาล้อมรอบจุด
                •	เส้นประตู เชื่อระหว่างโคนเสาประตูทั้ง 2 ฝั่ง
                •	เขตประตู คือพื้นที่ที่เกิดจากการลากเส้นจากเสาประตูทั้ง 2 ฝั่งตั้งฉากกับเส้นประตู เข้าหาสนามยาว 6 หลา แล้วเชื่อมด้วยเส้นตรง
                •	เขตโทษ คือพื้นที่ที่เกิดจกการลากเส้นจากเสาประตูทั้ง 2 ฝั่งขนานกับเส้นประตู ออกจากประตูยาว 16.5 เมตร แล้วลากเส้นตั้งฉากกับเสส้นประตู เข้าหาสนามยาว 16.5 เมตร แล้วเชื่อมด้วยเส้นตรง
                •	จุดโทษ อยู่ในเขตโทษ ห่างจากเสาประตู 12 หลา มีการเขียนส่วนโค้งนอกเขตโทษ รัศมีห่างจากจุดโทษ 10 หลา
                •	ประตู มีสีขาว ระยะห่างระหว่างเสาประตู 8 หลา คานสูงจากพื้น 8 ฟุต มีการติดตาข่ายรองรับลูก
                •	มุมธง อยู่ทั้ง 4 มุมของสนาม รัศมี 1 หลา
                •	เสาธง เป็นจุดศูนย์กลางของมุมธง ไว้แสดงเขตการเตะมุม สูงไม่น้อยกว่า 1.5 เมตร ยอดไม่แหลม ผูกธงไว้ที่ยอด
                
                กฎข้อที่ 2 ลูกฟุตบอล
                    เป็นทรงกลม ทำจากหนัง หรือวัสดุอื่น ๆ มีความยืดหยุ่น ตามความเหมาะสมที่ไม่เป็นอันตรายต่อผู้เล่น เป็นฟุตบอลเบอร์ 5 มีเส้นรอบวงประมาณ 68-70 เซนติเมตร น้ำหนักประมาณ 410-450 กรัม
                
                กฎข้อที่ 3 จำนวนผู้เล่น
                    การแข่งขันเล่นโดยผู้เล่น 2 ทีม แต่ละทีมประกอบด้วยผู้เล่นไม่เกิน 11 คน ผู้รักษาประตู 1 คน และผู้เล่นต้องไม่น้อยกว่าทีมละ 7 คน
                
                กฎข้อที่ 4 อุปกรณ์การเล่น
                •	ลูกฟุตบอล
                •	เครื่องแบบนักกีฬา สมาชิกทุกคนยกเว้นผู้รักษาประตูจะต้องใส่ชุดแข่งขันสีเดียวกัน และทั้ง 2 ทีมจะต้องใส่ชุดที่มีสีตัดกันอย่างชัดเจน ห้ามใส่ชุดที่มีโทนสีคล้ายกัน ปัจจุบันไม่อนุญาตให้นักกีฬาใข้เท้าเปล่าในการเล่น
                
                กฎข้อที่ 5 ผู้ตัดสิน
                โดยกรรมการจะมีหน้าที่ดังต่อไปนี้
                •	ปฏิบัติตามกติกาข้อ ควบคุมการแข่งขันโดยมีผู้ช่วยผู้ตัดสิน กรรมการผู้ตัดสินคนที่ 4 คอยให้ความร่วมมือช่วยเหลือตามความเหมาะสม
                •	แน่ใจว่าลูกบอลทุกลูกทีใช้ในการแข่งขันถูกต้องตามข้อกำหนดของกติกาข้อ 2
                •	แน่ใจว่าอุปกรณ์ของผู้เล่นถูกต้องตามข้อกำหนดของกติกาข้อ 4
                •	ทำหน้าที่รักษาเวลาการแข่งขัน และเขียนรายงานการแข่งขัน
                •	พิจารณาการสั่งหยุดการเล่น หยุดการเล่นชั่วคราว หรือยุติการแข่งขัน (Suspends or Terminate the Match) ทุกกรณีของการกระทำผิดกติกาการแข่งขัน
                •	พิจารณาการสั่งหยุดการเล่น หยุดการเล่นชั่วคราว หรือยุติการแข่งขัน เนื่องจากมีสิ่งรบกวนจากภายนอกทุกชนิดทำการรบกวนการแข่งขัน
                •	สั่งหยุดการเล่นถ้าดุลยพินิจของเขาเห็นว่าผู้เล่นบาดเจ็บหนักและแน่ใจว่าเคลื่อนย้ายออกจากสนามแข่งขันไปแล้ว ผู้เล่นที่บาดเจ็บนั้นจะกลับเข้าไปในสนามแข่งได้อีกเอภายหลังการเริ่มเล่นใหม่ได้เริ่มเล่นไปแล้ว.
                •	อนุญาตให้การเล่นดำเนินต่อไปจนกว่าลูกบอลจะอยู่นอกการเล่นถ้าเห็นว่าผู้เล่นบาดเจ็บเพียงเล็กน้อย
                •	แน่ใจว่าผู้เล่นที่มีเลือดไหลออกจากบาดแผลได้ออกจากสนามแข่นขันแล้ว และผู้เล่นนั้นจะกลับไปเล่นใหม่ได้เมื่อได้รับสัญญาณจากผู้ตัดสิน ซึ่งต้องพึงพอใจแล้วว่าเลือดที่ไหลออกมานั้นได้หยุดแล้ว
                •	อนุญาตให้การเล่นดำเนินต่อไปเมื่อทีมที่ถูกกระทำผิดจะเกิดประโยชน์จากการได้เปรียบ และถ้าการคาดคะเนในการให้ได้เปรียบนั้นไม่เป็นตามที่คาดไว้ในขณะนั้น การจะลงโทษตามความผิดที่เกิดขึ้นแต่แรกนั้น
                •	ลงโทษความผิดที่ร้ายแรงกว่าในกรณีที่ผู้เล่นทำผิดมากกว่า 1 อย่าง ภายในเวลาเดียวกัน
                •	ควบคุมระเบียบวินัยโดยแสดงการต่อต้านต่อผู้เล่นที่กระทำผิดต้องได้รับการคาดโทษ และการให้ออกจากการแข่งขัน เขาไม่ได้ถูกบังคับว่าต้องกระทำในทันทีทันใด แต่ต้องทำทันทีลูกบอลอยู่นอกการเล่นแล้ว
                •	ทำหน้าที่แสดงการต่อต้านเจ้าหน้าที่ทีมที่ขาดความรับผิดชอบในการควบคุมการประพฤติปฏิบัติตนเองที่ดี และเขาอาจพิจารณาให้ออกจากสนามแข่งขันและบริเวณแวดล้อมในทันที
                •	ปฏิบัติตามการช่วยเหลือของผู้ช่วยผู้ตัดสินตามเหตุการณ์ที่ตนเองมองไม่เห็น
                •	แน่ใจว่าไม่มีบุคคลอื่น ๆ ที่ไม่ได้รับอนุญาตเข้าไปในสนามแข่งขัน
                •	ให้ทำการเริ่มเล่นได้หยุดลง
                •	เขียนรายงานการแข่งขันเสนอต่อผู้ที่มีอำนาจหน้าที่ที่ได้แต่งตั้งไว้ ซึ่งรวบรวมข้อมูลที่เกี่ยวกับการควบคุมระเบียบทุกอย่างที่กระทำต่อผู้เล่นและ /หรือเจ้าหน้าที่ทีมและเหตุการณ์อื่น ๆ ทุกกรณีที่เกิดขึ้นก่อนการแข่งขัน ระหว่างการแข่งขัน หรือภายหลังการแข่งขัน
                •	ผู้ตัดสินจะมีสิทธิ์ให้ใบเหลืองหรือใบแดงตามความเหมาะสมต่อเมื่อผู้เล่นทำผู้เล่นฝ่ายตรงข้ามรุนแรงหรือแสดงพฤติกรรมไม่เหมาะสมต่อผู้เล่นฝ่ายตรงข้ามหรือผู้ตัดสินโดยตรงหรือกรณีอื่น ๆแต่อย่างใด
                
                กฎข้อที่ 6 ผู้ช่วยผู้ตัดสิน (assistant referee)
                    มีหน้าที่ช่วยเหลือในการควบคุมการแข่งขันให้เป็นไปตามกฎกติกา และในกรณีพิเศษผู้ช่วยผู้ตัดสินอาจเข้าไปในสนามได้เพื่อช่วยควบคุมระยะ 9.15 เมตร ถ้าผู้ช่วยผู้ตัดสินเข้าไปเกี่ยวข้องกับการปฏิบัติหน้าที่ของผู้ตัดสินเกินสมควร หรือประพฤติตนไม่เหมาะสมผู้ตัดสินสามารถปลดเขาออกจากหน้าที่ และเขียนรายงานเสนอต่อผู้มีอำนาจหน้าที่ที่ได้รับการแต่งตั้งไว้
                
                กฎข้อที่ 7 ระยะเวลาการแข่งขัน
                    ช่วงเวลาของการแข่งขัน (Periods of Play) การแข่งขันแบ่งออกเป็น 2 ครั้ง ครั้ง ละ 45 นาทีเท่ากัน การรักษาเวลาเป็นหน้าที่ของผู้รักษาเวลา ซึ่งมีหน้าที่ตามที่กำหนดไว้ในกติกา 7ข้อ ระยะเวลาของการแข่งขันแต่ละครึ่งเวลา อาจจะมีการเพิ่มการเตะโทษ ณ จุดโทษ
                    เวลานอก (Time-out) ทั้งสองทีมมีสิทธิ์ขอเวลานอกเป็นระยะเวลา 1 นาที ได้ในแต่ละครึ่งเวลา ภายใต้เงื่อนไขดังต่อไปนี้
                1.	ผู้ฝึกสอนเท่านั้นที่มีสิทธิ์ในการขอเวลานอก 1 นาที จากผู้รักษาเวลา
                2.	การขอเวลานอก 1 สามารถร้องขอได้ตลอดเวลา แต่จะให้เวลานอก ก็ต่อเมื่อทีมได้เป็นฝ่ายครอบครองบอล (ส่งลูกบอลเข้าเล่น)
                3.	ผู้รักษาเวลาต้องแสดงการอนุญาตสำหรับการขอเวลานอกของทีม เมื่อลูกบอลอยู่นอกการเล่นโดยการใช้เสียงสัญญาณอื่น ๆ ที่แตกต่างจากเสียงสัญญาณนกหวีดของผู้ตัดสินที่ใช้อยู่
                4.	เมื่ออนุญาตให้เป็นเวลานอก ผู้เล่นทุกคนต้องรวมกันอยู่ในสนามแข่งขัน ถ้าต้องได้รับคำแนะนำจากเจ้าหน้าที่ทีม จะกระทำได้เฉพาะที่เส้นข้างบริเวณด้านหน้าที่นั่งสำรองของทีมตนเอง ผู้เล่นทุกคนต้องไม่ออกไปนอกสนามแข่งขัน เช่นเดียวกันกับเจ้าหน้าที่ทีมที่ต้องให้คำแนะนำจะต้องไม่เข้าไปในสนามแข่งขัน
                
                5.	ถ้าทีมไม่ใช้สิทธิ์ในการขอเวลานอกในครึ่งเวลาแรก จะไม่สามารถนำไปทดแทนในครึ่งเวลาหลังได้ พักครึ่งเวลา (Half - time Interval) การพักครึ่งเวลาต้องไม่เกิน 15 นาที
                
                ข้อตกลง (Decisions)
                1.	ถ้าไม่มีผู้รักษาเวลา ผู้ฝึกสอนต้องร้องขอเวลานอกได้จากผู้ตัดสิน
                2.	ถ้าระเบียบการแข่งขันระบุให้มีการต่อเวลาพิเศษ ในกรณีที่การแข่งขันในเวลาปกติ ถ้าผลการแข่งขันจบลงด้วยการเสมอกัน การแข่งขันในระหว่างการต่อเวลาพิเศษของการแข่งขัน จะไม่มีการขอเวลานอก
                
                กฎข้อที่ 8 การเริ่มต้นการแข่งขัน
                1.	เมื่อเริ่มเล่น ในการที่จะเลือกแดนหรือเลือกเตะเริ่มเล่นก่อน ให้ตัดสินโดยการเสี่ยงเหรียญ (โยนหัว-ก้อย) ฝ่ายที่ชนะการเสี่ยงเป็นผู้มีสิทธิ์ในการเลือกแดนหรือเลือกเตะ
                2.	เมื่อได้ประตู การเล่นต้องเริ่มต้นใหม่ ในทำนองเดียวกัน โดยผู้เล่นคนหนึ่งของฝ่ายที่เสียประตู เป็นผู้เตะเริ่มเล่น
                3.	เมื่อหมดครึ่งเวลา การตั้งต้นเล่นใหม่หลังจากได้หยุดพักระหว่างครึ่งเวลาแล้ว ให้เปลี่ยนแดนและให้ผู้เล่นคนหนึ่งของชุดฝ่ายตรงข้ามที่มิได้เตะเริ่มเล่นในตอนแรก เป็นผู้เตะเริ่มเล่น
                
                กฎข้อที่ 9 บอลออกนอกสนาม
                ลูกบอลจะอยู่นอกการเล่นเมื่อ
                1.	ลูกบอลได้ผ่านเส้นประตูหรือเส้นข้างไม่ว่าจะเป็นบนพื้นดินหรือในอากาศออกไปทั้งลูก
                2.	ผู้ตัดสินสั่งหยุดการเล่นลูกบอลอยู่ในการเล่น (Ball In Play) ลูกบอลอยู่ในการเล่นตลอดเวลารวมทั้งในขณะที่กระดอนจากเสาประตู คานประตู หรือธงมุมสนาม และเข้ามาในสนามแข่งขัน
                
                กฎข้อที่ 10 วิธีนับคะแนน
                    ถ้าลูกฟุตบอลลอยข้ามเส้นประตูเต็มใบ โดยการเล่นลูกที่ถูกกติกา (ได้แก่การใช้เท้าหรือศีรษะ) ถือว่าได้ 1 คะแนน (ในภาษาฟุตบอลเรียกว่า 1 ประตู) อย่างไรก็ดี มักมีคนเข้าใจผิดว่าการได้คะแนน คือ การที่ลูกบอลสัมผัสกับตาข่ายหลังเส้นประตู ซึ่งจริง ๆ แล้วตาข่ายไม่มีส่วนเกี่ยวข้องกับกติกาฟุตบอล มีไว้เพื่อรองรับลูกบอลที่เข้าประตูแล้วเท่านั้น
                
                กฎข้อที่ 11 การล้ำหน้า
                1.	ผู้เล่นจะอยู่ในตำแหน่งล้ำหน้า ถ้าเขาอยู่ใกล้เส้นประตูของคู่ต่อสู้กว่าลูกบอล
                2.	ผู้เล่นจะถูกตัดสินให้เป็นเล่นล้ำหน้าและจะถูกลงโทษ ถ้าผู้ตัดสินพิจารณาเห็นว่าขณะที่ลูกโดนหรือลูกเล่นโดยผู้เล่นฝ่ายเดียวกัน
                3.	ผู้เล่นจะยังไม่ถูกตัดสินว่าล้ำหน้า ถ้า
                •	เขาเพียงแต่อยู่ในตำแหน่งล้ำหน้าเท่านั้น
                •	เขาได้รับลูกโดยตรงจากการเตะจากประตู การทุ่มจากเส้นข้าง การเตะจากมุม หรือ การปล่อยลูกจากมือโดยผู้ตัดสิน
                •	ถ้าผู้เล่นถูกตัดสินให้เป็นเล่นล้ำหน้า ผู้ตัดสินจะให้คู่ต่อสู้ได้เตะโทษโดยอ้อม ณ ที่ซึ่งการละเมิดกติกาได้เกิดขึ้น
                
                กฎข้อที่ 12 ฟาวล์
                    ผู้เล่นคนใดเจตนากระทำผิดข้อหนึ่งข้อใดใน 9 ข้อ ดังต่อไปนี้
                1.	เตะ หรือ พยายามจะเตะคู่ต่อสู้
                2.	ขัดขาคู่ต่อสู้ คือทำหรือพยายามจะทำให้คู่ต่อสู้ล้มลงด้วยการใช้ขา หรือด้วยการหมอบลงข้างหน้าหรือข้างหลัง
                3.	กระโดดเข้าหาคู่ต่อสู้
                4.	ชนคู่ต่อสู้อย่างรุนแรง
                5.	ชนคู่ต่อสู้ข้างหลัง นอกจากคู่ต่อสู้นั้นเจตนากีดกัน
                6.	ทำร้าย หรือพยายามจะทำร้ายคู่ต่อสู้ หรือถ่มน้ำลายรดคู่ต่อสู้
                7.	ฉุด ดึง คู่ต่อสู้
                8.	ผลัก ดัน คู่ต่อสู้
                9.	เล่นด้วยมือ คือ ทุบ ต่อย ปัด เตะลูกด้วยมือ หรือแขน
                
                กฎข้อที่ 13 ฟรีคิก
                    การเตะฟรีคิกจะเกิดขึ้นต่อเมื่อผู้เล่นฝ่ายตรงข้ามทำฟาวล์หรือล้ำหน้าตั้งแต่จุดที่ทำฟาวล์หรือตำแหน่งล้ำหน้า โดยจะผู้เล่นตั้งเตะลูกฟรีคิกตรงจุดที่ผู้เล่นฝ่ายตรงข้ามทำฟาวล์หรือตำแหน่งล้ำหน้า
                
                กฎข้อที่ 14 ลูกโทษหรือการยิงจุดโทษ
                    การยิงจุดโทษในเวลาการแข่งขันจะเกิดขึ้นต่อเมื่อผู้เล่นฝ่ายตรงข้ามทำฟาวล์ตั้งแต่ในเขตโทษ การยิงลูกโทษจะเป็นการให้ผู้เล่นยิงดวลตัวต่อตัวกับผู้รักษาประตูโดยที่ผู้เล่นคนอื่นที่ไม่ได้มีหน้าที่ยิงจุดโทษหรือไม่ใช่ผู้รักษาประตูที่จะต้องเซฟจุดโทษจะต้องอยู่บริเวณนอกเขตโทษจนกว่าผู้เล่นที่ยิงจุดโทษจะยิงประตูผู้เล่นคนอื่นจึงจะมีสิทธิ์วิ่งในเขตโทษได้
                    เมื่อต่อเวลาพิเศษ 30 นาทีแล้วไม่มีทีมทำประตูได้หรือเสมอจะทำการยิงลูกที่จุดโทษ โดยจะใช้ผู้เล่นยิงสลับกันฝั่งละ 5 คน เมื่อยิงครบแล้วยังหาผู้ชนะไม่ได้ก็จะยิงต่อไปจนมีผู้ชนะ โดยการยิงลูกจุดโทษนั้นเป็นวิธีสุดท้ายที่หาทีมชนะ
                
                กฎข้อที่ 15 การทุ่ม
                    การทุ่ม ขณะแข่งขันลูกฟุตบอลได้ออกเส้นข้างไปทั้งลูก ไม่ว่าจะกลิ้งไปบนพื้นสนามหรือลอยไปบนอากาศก็ตาม ให้ผู้เล่นฝ่ายตรงข้ามเป็นฝ่ายได้ทุ่ม
                •	เท้าทั้งสองข้างต้องติดพื้นตลอดเวลาการทุ่ม
                •	ต้องทุ่มด้วยมือทั้งสอง ลูกบอลออกจากด้านหลังศีรษะ แขนทั้งสองข้างตึง " ต้องผ่านศีรษะไปข้างหน้าอย่างต่อเนื่อง "
                •	ด้านหน้าของร่างกายหันหน้าเข้าหาสนามด้านไหนให้ทุ่มไปทางนั้น
                •	ย่อทุ่มได้ แต่ห้ามนั่งทุ่ม
                •	บอลออกเส้นข้าง ณ จุดใด ให้ทุ่ม ณ จุดนั้น
                •	ณ จุดที่มือปล่อยบอล เท้าหรือตัวของผู้ทุ่ม ห้ามห่างจากเส้นข้างเกิน หนึ่งเมตร
                •	ฝ่ายรับต้องยืนห่างจากผู้ทุ่ม ในสนามแข่งขัน อย่างน้อย 2 เมตร
                •	ทุ่มทีเดียว โดยไม่สัมผัสผู้เล่นฝ่ายใด ฝ่ายหนึ่ง ไม่ถือว่าเป็นประตู
                •	รับบอลจากการทุ่ม ไม่มีการล้ำหน้า
                •	ทุ่มบอลคืนให้ผู้รักษาประตู ผู้รักษาประตูใช้มือรับ ให้เตะลูกโทษโดยอ้อม ณ จุดเกิดเหตุ ทันที
                
                กฎข้อที่ 16 โกลคิก
                    คือ ลูกตั้งเตะจากเขตประตู โดยเมื่อลูกทั้งลูกได้ผ่านเส้นประตูออกไปนอกสนาม นอกจากจะผ่านไปในระหว่างเสาประตูไม่ว่าจะกลิ้งไปบนพื้นสนามหรือลอยไปในอากาศก็ตาม โดยฝ่ายรุกเป็นผู้ถูกลูกนั้นเป็นครั้งสุดท้าย ให้ผู้รักษาประตูเตะจากในกรอบเขตประตู
                
                กฎข้อที่ 17 การเตะมุม
                    เมื่อลูกทั้งลูกได้ผ่านเส้นประตูออกไปนอกสนาม นอกจากจะผ่านไปในระหว่างเสาประตูไม่ว่าจะกลิ้งไปบนพื้นสนามหรือลอยไปในอากาศก็ตาม โดยฝ่ายรับเป็นผู้ถูกลูกนั้นเป็นครั้งสุดท้าย ให้ฝ่ายรุกนำลูกไปวางเตะภายในเขตมุม ณ ธงมุมใกล้กับที่ลูกได้ออกไปและต้องไม่ทำให้คันธงเคลื่อนที่ ในการเตะจากมุมนี้ ถ้าเตะทีเดียวลูกตรงเข้าประตูให้นับว่าได้ประตู ผู้เล่นฝ่ายตรงข้ามกับผู้เตะจากมุมนั้นจะเข้ามาอยู่ใกล้ลูกในขณะที่ผู้เตะกำลังจะเตะลูกน้อยกว่า 10 หลา ไม่ได้เว้นเสียแต่ผู้เตะจะได้เตะให้ลูกไปได้ไกลอย่างน้อยเท่ากับระยะรอบวงของลูกจึงจะเล่นต่อไปได้ จะเล่นนั้นซ้ำอีกไม่ได้จนกว่าลูกนั้นจะได้ถูกหรือเล่นโดยผู้เล่นคนใดคนหนึ่งเสียก่อน
                </p>
            
            <input type="checkbox" id="toggle-strategy" style="display: none;">
            <label for="toggle-strategy" class="toggle-label"><h3>รูปแบบการเล่น</h3></label>
            <p class="content" id="strategy">รูปแบบการเล่นฟุตบอล
                1.	ระบบ 4-4-2
                    เป็นรูปแบบการเล่นฟุตบอลที่ใช้บ่อยที่สุดและยังคงใช้อยู่ในปัจจุบัน จำนวนผู้เล่นในตำแหน่งกองกลางและเกมรับทำให้ 4-4-2 บุกเข้าใส่ได้ยาก แต่เมื่อครองบอลได้ กองกลาง 4 คนสามารถสนับสนุนกองหน้าสองคนได้ และถ้าทีมใดมีฟูลแบ็กคุณภาพที่ทับซ้อนกัน พวกเขาก็สามารถสนับสนุนกองหน้าได้เช่นกัน สร้างโอกาสในการทำประตู
                    ข้อเสียของ 4-4-2 คือต้องใช้ร่างกายสำหรับผู้เล่นกองกลางเนื่องจากต้องสนับสนุนการโจมตีและการป้องกัน
                
                2.	ระบบ 4-5-1
                    Special One” Jose Mourinho และทีมเชลซีของเขาในช่วงกลางปี 2000 เมื่อเชลซีคว้าแชมป์ EPL ในปี 2004/5 พวกเขามี 95 คะแนนจากชัยชนะ 29 ครั้ง เสมอ 7 ครั้ง และแพ้ 1 ครั้ง พวกเขาเสียไปเพียง 15 ประตูเท่านั้น
                    การจัดระบบ 4-5-1 ส่วนใหญ่จะใช้ตัวทำลายกองกลางซึ่งมีหน้าที่ทำลายเกมรุกของทีมอื่น แล้วส่งบอลไปยังกองหน้าของเขาอย่างรวดเร็ว บทบาทในเชลซีของมูรินโญ่นั้นดำเนินการโดยแฟรงค์ แลมพาร์ด
                    ข้อเสียเปรียบที่สำคัญประการหนึ่งของรูปแบบนี้คืออาจทำให้ดูน่าเบื่อ
                
                3.	ระบบ 4-3-3
                    ระบบ 4-3-3 ให้กำเนิด Total Football ด้วยการครองบอล, การแบ่งโซน, การเพรสซิ่งสูงเมื่ออีกฝ่ายครองบอล และกับดักล้ำหน้าที่เฉียบคม นอกจากนี้ยังอำนวยความสะดวกในรูปแบบสามเหลี่ยมผ่าน
                ข้อเสียของแผน 4-3-3 ได้แก่:
                •	ปล่อยให้ช่องว่างระหว่างฟูลแบ็กและปีกมากเกินไปที่ฝ่ายตรงข้ามสามารถใช้ประโยชน์ได้
                •	กองกลางเสียประตูเมื่อกองกลางร่วมบุกแล้วอีกฝ่ายครองบอล
                •	หากผู้เล่นฝ่ายสนับสนุนไม่วิ่ง ศูนย์หน้าจะโดดเดี่ยวและไม่มีประสิทธิภาพ
                4.	ระบบ 4-3-2-1
                    เติบโตขึ้นพร้อมกับทีมกองกลาง รูปทรงต้นคริสต์มาสที่แคบมอบความได้เปรียบด้านตัวเลขในพื้นที่ส่วนกลาง และอำนวยความสะดวกให้ทีมปรับใช้เพื่อก้าวไปข้างหน้าอย่างรวดเร็วโดยใช้การผ่านหนึ่ง-สองอย่างรวดเร็วและสามเหลี่ยม
                
                5.	ระบบ 4-1-3-2
                    มีความสมดุลเป็นอย่างดี และรูปร่างของมันถูกออกแบบมาเพื่อสร้างเกมรุก ทีมที่ตั้งขึ้นในลักษณะนี้สามารถโจมตีผ่านช่องทางกลางและช่องทางกว้าง และเป็นการคุกคามการโจมตีโดยตรงผ่านกองหน้าทั้งสอง
                    เนื่องจากความแคบตรงกลางทำให้ทีมเสี่ยงต่อการโต้กลับที่กว้าง นอกจากนี้ยังลดโอกาสในการเล่นเกมรุกลงทางปีก เว้นแต่ว่าทีมจะมีวิงแบ็คที่เร็วและมีทักษะ
                
                6.	ระบบ 5-4-1
                    สิ่งที่เรียกว่า “สายฟ้า” – คำภาษาอิตาลีที่แปลว่า “กลอนประตู” กองหลังหนึ่งในห้าคนจะเล่นตามหลังอีกสี่คนในเกมที่เรียกว่า "ตัวกวาด" มันเป็นงานของเขาที่จะกวาดบอลที่หลุดออกไปข้างหลังแนวรับ และเมื่อมีโอกาส ให้วิ่งไปข้างหน้าพร้อมกับลูกบอลผ่านกลางสนาม หนึ่งในตัวแทนที่ยิ่งใหญ่ที่สุดของตำแหน่งนี้ ซึ่งรวมถึง "ตัวกวาด" หรือที่รู้จักในชื่อ "ตัวรับอิสระ" ก็คือตัวรับของเยอรมนี
                
                7.	ระบบ 4-1-2-1-2
                    รูปแบบที่เรียกว่ารูปแบบ "เพชร" มันหมุนรอบผู้เล่นกองกลางที่เชี่ยวชาญ XNUMX คน คนหนึ่งเป็นมิดฟิลด์ตัวรับที่โดดเด่น อีกคนเป็นเพลย์เมกเกอร์ที่สร้างสรรค์และสร้างสรรค์ ผู้เล่นสองคนในแนวหน้าสนับสนุนการเน้นการโจมตีโดยตรง แต่อาจแตกต่างกันไปตามการตั้งค่าที่กว้างหรือแคบตามผู้เล่นในทีม ช่วยให้ทีมใช้พื้นที่ได้คุ้มค่า โดยเฉพาะในพื้นที่กว้าง เนื่องจากมีกองหน้า XNUMX คนคอยประกบอยู่ตลอด ทำให้กองหลังของคู่แข่งมีโอกาสทำประตูมากมาย ผู้เล่นกองกลางตัวรับที่อยู่ด้านหน้าของแผงหลังทั้งสี่จะป้องกันการป้องกันและยังทำหน้าที่เป็นแกนนำในการรักษาการครองบอลและเริ่มการฝ่าวงล้อม
                    จุดอ่อนที่ใหญ่ที่สุดของระบบนี้คือมันต้องการทีมที่ลึกซึ่งเต็มไปด้วยผู้เล่นที่เชี่ยวชาญด้านเทคนิค โดยเฉพาะในตำแหน่งกองกลาง
                
                8.	ระบบ 3-5-2
                    เป็นทางออกที่ได้ผลเมื่อเล่นกับกองหน้าสองคนถูกใช้เป็นครั้งแรกในการแข่งขันระดับนานาชาติในปี 1986 โดยอาร์เจนตินาภายใต้การบริหารของคาร์ลอส บิลาร์โด เมื่อสองกองหน้าของพวกเขาคือวัลดาโนและมาราโดน่า ใช่แล้ว ในปีค.ศ. เหตุการณ์หัตถ์ของพระเจ้า เมื่อทีมจากอเมริกาใต้เอาชนะอังกฤษไปได้ 2-1 และได้ชูถ้วยฟุตบอลโลก
                    4 ปีต่อมา เซบาสเตียว ลาซาโรนีใช้รูปแบบเดียวกันในการแข่งขันฟุตบอลโลกปี 1990 ของบราซิล และเทอร์รี่ เวนาเบิลใช้รูปแบบเดียวกันนี้ในศึกยูโรของอังกฤษในอีก XNUMX ปีต่อมา
                    แต่เช่นเดียวกับกองกลางตัวรุกและตัวสนับสนุนและป้อนกองหน้า 3-5-2 ก็มีปัญหาเช่นกันเมื่อทีมอื่นครอบครอง พื้นที่เปิดที่กว้างขึ้นถูกปล่อยให้โล่งในการป้องกัน และกองกลางที่กว้างจะได้รับการสำรองข้อมูลเพียงเล็กน้อยหรือไม่มีเลย
                
                9.	ระบบ 5-3-2
                    ค่อนข้างเป็นเกมตั้งรับที่เน้นเกมรับ แต่ด้วยผู้เล่นที่มีคุณภาพที่เหมาะสม มันก็สามารถใช้เป็นรูปแบบเกมรุกได้เช่นกัน ตัวอย่างเช่น บราซิลใช้ 5-3-2 เมื่อพวกเขาคว้าแชมป์ฟุตบอลโลกสมัยที่ 2002 ในปี XNUMX แน่นอนว่าพวกเขาไม่เคยขาดแคลนผู้เล่นที่มีคุณภาพ รวมถึงโรแบร์โต คาร์ลอส (ใช่ เขาในนั้น) ฟรีคิกที่โด่งดังและน่าทึ่ง), คาฟู, โรนัลดินโญ่, และโรนัลโด้.
                    ด้วยผู้เล่นที่เหมาะสม ทีมที่ใช้ 5-3-2 สามารถควบคุมการครองบอลและกระตุ้นการโจมตีที่อันตรายได้ ในขณะที่ยังคงเอาชนะได้ยากในแดนหลัง เหมือนกับที่บราซิลเคยเป็นในปี 2002
                    จุดอ่อน ซึ่งรวมถึงการตั้งรับมากเกินไป เหนื่อยทั้งกายและใจเนื่องจากผู้เล่นแนวรับต้องรับอย่างต่อเนื่อง และอาจทำให้แดนกลางแออัดเกินไปเมื่อมิดฟิลด์ตัวกลางถอยกลับเข้ามา แนวทางของเซ็นเตอร์แบ็ค
                
                10.	ระบบ 4-2-3-1
                    ให้ความเป็นน้ำหนึ่งใจเดียวกันในแดนกลาง และเมื่อรวมกับความยืดหยุ่นในแดนหน้า จะช่วยให้ทีมใช้มันในการโจมตีได้อย่างปลอดภัยโดยรู้ว่าพวกเขาไม่ได้เปิดเผยตัวเองในแนวหลัง
                    ด้วยทีมที่เหมาะสมของผู้เล่นที่มีคุณภาพ มันเป็นเรื่องง่ายที่จะปรับรูปแบบการเล่นในช่วงกลางเกม ขึ้นอยู่กับสถานการณ์ เป็น 4-3-3, 4-4-2 หรือ 4-5-1
                    ต้องอาศัยผู้เล่นแนวรุกที่สร้างสรรค์ที่สามารถทำงานร่วมกันได้ดีทั้งในและนอกบอล นอกจากนี้ยังต้องการกองหน้าที่ยอดเยี่ยมที่สามารถเปลี่ยนโอกาสได้ 
                    จุดอ่อนของระบบ คือกองกลางต้องเต็มใจที่จะถอยกลับเมื่อคู่แข่งได้บอล และเมื่อทีมถูกยึด กองหน้าคนเดียวอาจรู้สึกโดดเดี่ยวและหงุดหงิดได้
                
                11.	THE 3-2-4-1
                ฟุตบอลสมัยใหม่ใน EPL เป็นเรื่องของความเร็วของการเปลี่ยนผ่าน เปลี่ยนการป้องกันเป็นโจมตี และเปลี่ยนรูปแบบทีมให้เร็วที่สุดเท่าที่จะเป็นไปได้
                
                12.	THE CLASSIC 2-3-5
                ระหว่างทางไปสู่รูปแบบ 2-3-5 ที่ทีมใช้ในยุคเริ่มต้นของยุคโปร
                เมื่อรูปแบบการเล่น 2-3-5 ได้รับการยอมรับเป็นบรรทัดฐาน จำนวนตำแหน่งจึงถูกกำหนดขึ้น
                เมื่อกฎการล้ำหน้าได้รับการแก้ไขในปี 1925 กฎดังกล่าวกระตุ้นให้ผู้จัดการและโค้ชทดลองรูปแบบอื่นๆ เพื่อรองรับและใช้ประโยชน์จากกฎใหม่
                
                13.	การก่อตัวของ WM
                รู	ปแบบที่เรียกว่า “WM” เป็นความแตกต่างครั้งแรกจาก 2-3-5 แบบคลาสสิก มันเห็นตำแหน่งด้านในขวาและซ้ายถอยกลับจากแนวหน้าเพื่อสร้างรูปแบบรูปตัว W โจมตีโดยมีศูนย์หน้าและปีกสองข้าง นอกจากนี้ยังเห็นเซ็นเตอร์ฮาล์ฟถอยกลับไปสมทบกับแบ็คซ้ายและขวาที่ก่อตัวเป็นรูปตัว M รูปแบบ WM เรียกอีกอย่างว่า 3-2-5
                
                14.	THE 2-3-2-3
                    รูปแบบนี้เรียกว่าระบบ Metodo มันถูกคิดค้นโดย วิตโตริโอ ปอซโซชายผู้เป็นที่นับถือในการทำให้ฟุตบอลอิตาลีเป็นพลังที่ต้องคำนึงถึง เขาได้รับแต่งตั้งเป็นผู้จัดการทีมอัซซูรี (ฟุตบอลชายทีมชาติอิตาลี) ในปี พ.ศ. 1929 เขาบริหารทีมชาติในช่วงสงครามโลกครั้งที่ 1948 และเกษียณในที่สุดในปี พ.ศ. XNUMX
                    ขณะที่อยู่ในอังกฤษดูแมนเชสเตอร์ ยูไนเต็ด โปซโซหยิบไอเดียของฟูลแบ็คสองคนและเพลย์เมกเกอร์เซ็นเตอร์ฮาล์ฟขึ้นมา ซึ่งทำให้เขา ระบบเมโทโด.
                    โดยรวมแล้ว Pozzo ใช้ระบบ Metodo ของเขา ควบคุมชัยชนะ 63 ครั้ง เสมอ 17 ครั้ง และแพ้ 15 ครั้ง ซึ่งเป็นสถิติของประเทศอิตาลี นอกจากนี้ยังมีส่วนสำคัญในชัยชนะฟุตบอลโลก 1934 ครั้งของอิตาลีในปี 1938 และ XNUMX
                
                15.	ระบบ 4-2-4
                    รูปแบบ 4-2-4 เป็นพื้นการป้องกันและใช้กับทีมโจมตี ไม่แปลกที่รูปแบบนี้แสดงให้เห็นได้ดีที่สุดโดยทีมชาติบราซิล อย่างไรก็ตาม พวกเขามีผู้เล่นที่น่าทึ่ง รวมถึงฟูลแบ็คตัวรุกของพวกเขาด้วย
                    รูปแบบ 4-2-4 เป็นความพยายามที่จะหลีกหนีจากความฝืดของระบบ WM และสร้างทั้งเกมรุกและเกมรับที่แข็งแกร่ง พัฒนาการขั้นแรกคิดโดย Marton Bukovi นักฟุตบอลและผู้จัดการทีมชาวฮังการี แต่เครดิตสุดท้ายตกเป็นของ Béla Guttman ชาวฮังการีอีกคน และ Flavio Costa โค้ชทีมชาติบราซิล
                    จุดอ่อนที่เป็นไปได้ของ 4-2-4 คือกองกลางสองคนสามารถถูกบุกรุกได้ง่าย
                </p>
        </div>
    </div>