* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    padding: 20px;
    background-color: white;
    width: 62.5%;
    margin: 120px auto 0 auto;
    height: 75%;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.sidebar {
    width: 250px;
    background-color: #dedede;
    padding: 20px;
    height: auto;
    border-radius: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #ccc;
}

.main-content {
    flex-grow: 1;
    background-color: #e1e1e1;
    padding: 30px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center
    ;
}

.main-content h2 {
    margin-bottom: 20px;
}

.form-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

input[type="text"] {
    display: flex;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
